<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>Publish.Web\ExampleService.Customer.Api.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>__IISWEBAPPLICATIONNAME__</DeployIisAppPath>
    <DisableAllVSGeneratedMSDeployParameter>true</DisableAllVSGeneratedMSDeployParameter>
  </PropertyGroup>

  <PropertyGroup>
    <!-- Non-empty relative path which replaces the absolute PubTmp\Out folder hierarchy inside the package -->
    <_PackagePathShortened Condition="'$(_PackagePathShortened)' == ''">website</_PackagePathShortened>
  </PropertyGroup>

  <!-- !!! The TASK EscapeTextForRegularExpressions is referencing the publishing dll directly, remember to update the VS version when updating :) !!! -->
  <UsingTask TaskName="EscapeTextForRegularExpressions" AssemblyFile="$(MSBuildExtensionsPath)\Microsoft\VisualStudio\v16.0\Web\Microsoft.Web.Publishing.Tasks.dll" />
  <Target Name="AddReplaceRuleForAppPath" BeforeTargets="BeforePublish">
    <Message Text="Adding replace rules for application path" Importance="high" />
    <EscapeTextForRegularExpressions Text="$(PublishIntermediateOutputPath)">
      <Output PropertyName="_PackagePathRegex" TaskParameter="Result" />
    </EscapeTextForRegularExpressions>
    <!-- Add a replace rule for VSMSDeploy resp. MSdeploy to update the path -->
    <ItemGroup>
      <MsDeployReplaceRules Include="replaceFullPath">
        <Match>$(_PackagePathRegex)</Match>
        <Replace>$(_PackagePathShortened)</Replace>
      </MsDeployReplaceRules>
    </ItemGroup>
  </Target>
</Project>